//
// Variables
// --------------------------------------------------

@font-size:             12px;

// Colors
// -------------------------
@cPrimary1:             #53284F;    // aubergine
@cPrimary2:             #565A5C;    // charcoal
@cPrimary3:             #000;       // black
@cPrimary4:             #999;       // lt gray

@cChart1:               #53284F;    // aubergine
@cChart2:               #58585A;    // dk gray
@cChart3:               #999;       // lt gray
@cChart4:               #4879A0;    // blue
@cChart5:               #769DCB;    // lt blue
@cChart6:               #357639;    // dk green
@cChart7:               #8AA134;    // lt green
@cChart8:               #DF7E1B;    // orange
@cChart9:               #DBA10F;    // yellow
@cChart10:              #054173;    // dk blue

// Basic elements
// -------------------------
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: @font-size;
    color: #555;
    line-height: 14px;
    background-color: #e0e1dd;    
}

h1 {
    color: #53284F;
    text-transform: uppercase;
    font-size: @font-size + 14;
}

h2{
    font-size: @font-size + 10;
}

h3{
    font-size: @font-size + 8;
}

h4{
    font-size: @font-size + 6;
}

h5{
    font-size: @font-size + 4;
}

a { text-decoration: underline }

.page-header {
    padding-bottom: 0;
    margin: 10px 0 10px;
}

.disclosure { font-style: italic }

.lead { font-size: @font-size + 6; font-style:italic; margin-bottom: 10px;}

// Layouts
// -------------------------

.shadowBox{
    background-color: #f8f9f4;
    -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
    -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
    box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
    margin-bottom: 20px;
    background-color: #fafbf7;
    background-image: -moz-linear-gradient(top, #f8f9f4, #fdfdfb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9f4), to(#fdfdfb));
    background-image: -webkit-linear-gradient(top, #f8f9f4, #fdfdfb);
    background-image: -o-linear-gradient(top, #f8f9f4, #fdfdfb);
    background-image: linear-gradient(to bottom, #f8f9f4, #fdfdfb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f9f4', endColorstr='#fffdfdfb', GradientType=0);
}

.content-main {       
    padding: 5px;
    .shadowBox;
}

// Tables
// -------------------------
.table th, .table td {
    font-size: @font-size - 2;
    padding: 1px 2px;
}

.table th {    
    text-transform: uppercase;
    background-color: #ccc;
}

.table > tbody > tr.sub > td { 
    font-weight: bold;
    color: @cPrimary1;
    background-color: #fff;
    border-bottom: 2px solid @cPrimary1;
}

// Buttons
// -------------------------
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {    
    background-color: darken(@cPrimary1, 3%);
    border-color: darken(@cPrimary1, 3%);
}

.btn-primary {
    color: #ffffff;
    background-color: @cPrimary1;
    border-color: @cPrimary1;
}

// Components
// -------------------------
.breadcrumb { background-color: transparent; padding: 0; font-size: @font-size - 2;}
.breadcrumb a { text-decoration: none}
.breadcrumb > li + li:before { content: ">\00a0"; }

.highlightBox {    
    color: #555;
    .shadowBox;
}
.highlightBox .highlightBody { padding: 5px; }
.highlightBox h3 { text-transform: uppercase; color: #fff; background-color: #666; font-size: @font-size - 1; line-height: 20px; padding: 3px 5px 3px 5px; margin: 2px 0; }

// Javscript widgets
// -------------------------
.nav-tabs .active a {
    font-weight: bold;
    text-decoration: none;
}