body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #555;
  line-height: 14px;
  background-color: #e0e1dd;
}
h1 {
  color: #53284F;
  text-transform: uppercase;
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
a {
  text-decoration: underline;
}
.page-header {
  padding-bottom: 0;
  margin: 10px 0 10px;
}
.disclosure {
  font-style: italic;
}
.lead {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}
.shadowBox {
  background-color: #f8f9f4;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  margin-bottom: 20px;
  background-color: #fafbf7;
  background-image: -moz-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9f4), to(#fdfdfb));
  background-image: -webkit-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -o-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: linear-gradient(to bottom, #f8f9f4, #fdfdfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f9f4', endColorstr='#fffdfdfb', GradientType=0);
}
.content-main {
  padding: 5px;
  background-color: #f8f9f4;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  margin-bottom: 20px;
  background-color: #fafbf7;
  background-image: -moz-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9f4), to(#fdfdfb));
  background-image: -webkit-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -o-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: linear-gradient(to bottom, #f8f9f4, #fdfdfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f9f4', endColorstr='#fffdfdfb', GradientType=0);
}
.table th,
.table td {
  font-size: 10px;
  padding: 1px 2px;
}
.table th {
  text-transform: uppercase;
  background-color: #ccc;
}
.table > tbody > tr.sub > td {
  font-weight: bold;
  color: #53284f;
  background-color: #fff;
  border-bottom: 2px solid #53284f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #492345;
  border-color: #492345;
}
.btn-primary {
  color: #ffffff;
  background-color: #53284f;
  border-color: #53284f;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-size: 10px;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
}
.highlightBox {
  color: #555;
  background-color: #f8f9f4;
  -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #fff inset;
  margin-bottom: 20px;
  background-color: #fafbf7;
  background-image: -moz-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9f4), to(#fdfdfb));
  background-image: -webkit-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: -o-linear-gradient(top, #f8f9f4, #fdfdfb);
  background-image: linear-gradient(to bottom, #f8f9f4, #fdfdfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f9f4', endColorstr='#fffdfdfb', GradientType=0);
}
.highlightBox .highlightBody {
  padding: 5px;
}
.highlightBox h3 {
  text-transform: uppercase;
  color: #fff;
  background-color: #666;
  font-size: 11px;
  line-height: 20px;
  padding: 3px 5px 3px 5px;
  margin: 2px 0;
}
.nav-tabs .active a {
  font-weight: bold;
  text-decoration: none;
}
